<%= content_tag_for(:tr, conversation) do |conversation| %>
<% participants = [] %>
 <td><% conversation.participants.each do |participant| %>
 		<% 
 		
 		participants << participant.firstname + ' ' + participant.lastname %>
 	<% end %>
 	<% participants = participants.to_sentence %>
 	<%= truncate(participants, :length => 100) %></td>
 <td><%= link_to conversation.subject, conversation %></td>
 <!-- <td>
    <% if conversation.is_completely_trashed?(current_user) %>
      <%= link_to [:untrash, conversation], method: :post do %>
      <button type="button" class="btn btn-success btn-sm">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
			<%end %>	
   <% else %>
      <%= link_to  [:trash, conversation], method: :post do %>
      <button type="button" class="btn btn-danger btn-sm">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
			<%end %>
      <%end %>
 </td> -->
 <%end %>