<div class="page-header">
	<h1><%= t(".header")%></h1>
</div>

<div class="row">
	<div align="right">
			<p><% if can? :send_message, CustomersUser %><%= link_to(new_conversation_path) do %>
				<button type="button" class="btn btn-success btn-sm">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
			<% end %><% end %></p>
	</div>
</div>

<div class="row">
	<div>
		<div class="table-responsive">
			<table class="table table-bordered table-hover table-condensed">
				<tr>
					<th><%= t(".sender") %></th> 
					<th><%= t(".subject") %></th>
				</tr>
				<%= render mailbox.conversations %>
			</table>			
		</div>

		<div class="col-md-offset-4"></div>
		
	</div>
	
	<div class="col-md-3"></div>
</div>