<div class="page-header">
	<h1><%= conversation.subject %></h1>
</div>

<div class="row">
	<div>
		<div class="table-responsive">
			<%= render 'quickform', conversation: conversation %>			
				<%= content_tag_for(:tr, conversation.receipts_for(current_user).reverse) do |receipt| %>
					<% message = receipt.message %>
					<h3><%= message.subject %></h3>
					<h4><%= message.sender.firstname %> <%= message.sender.lastname %> <small>(<%= l message.created_at, format: :long %>)</small></h4>
					<div style="text-indent:20px;"><%= message.body.html_safe %></div>
				<% end %>
			
		</div>
	</div>

</div>