<% if @user.errors.any? %>
  <div class="alert alert-danger">
    <strong><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</strong>
	<ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @user do |f| %>

<div class="row">
  <div class="col-md-9">

    <div class="table-responsive">
      <table class="table table-bordered table-hover table-condensed">
         <tr>
          <th><%= f.label :email, t(".email"), :class => "col-lg-2 control-label" %></th>
          <td>
          	<div class="input-group">
            	<span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
            	<%= f.email_field :email, :class => "form-control" %>
            </div>
          </td>
        </tr>
       <!-- <tr>
          <th> <%= f.label :password, t("users.password"), :class => "col-lg-2 control-label" %></th>
          <td><%= f.password_field :password, :class => "form-control" %><%= f.password_field :password_confirmation, :class => "form-control" %></td>
        </tr> -->
        <tr>
          <th> <%= f.label :firstname, t(".firstname"), :class => "col-lg-2 control-label" %></th>
          <td><%= f.text_field :firstname, :class => "form-control" %></td>
        </tr>
        <tr>
          <th> <%= f.label :lastname, t(".lastname"), :class => "col-lg-2 control-label" %></th>
          <td> <%= f.text_field :lastname, :class => "form-control" %></td>
        </tr>
        <tr>
          <th> <%= f.label :phone_number, t(".phone_number"), :class => "col-lg-2 control-label" %></th>
          <td> <%= f.text_field :phone_number, :class => "form-control" %></td>
        </tr>
        <tr>
          <th> <%= f.label :street, t(".street"), :class => "col-lg-2 control-label" %></th>
          <td> <%= f.text_field :street, :class => "form-control" %></td>
        </tr>
        <tr>
          <th> <%= f.label :street_number, t(".street_number"), :class => "col-lg-2 control-label" %></th>
          <td> <%= f.text_field :street_number, :class => "form-control" %></td>
        </tr>
        <tr>
          <th> <%= f.label :zipcode, t(".zipcode"), :class => "col-lg-2 control-label" %></th>
          <td> <%= f.text_field :zipcode, :class => "form-control" %></td>
        </tr>
        <tr>
          <th> <%= f.label :city, t(".city"), :class => "col-lg-2 control-label" %></th>
          <td> <%= f.text_field :city, :class => "form-control" %></td>
        </tr>
        <tr>
          <th> <%= f.label :country, t(".country"), :class => "col-lg-2 control-label" %></th>
          <td> <%= f.text_field :country, :class => "form-control" %></td>
        </tr>
        <tr>
        	<th> <%= f.label :roles, t(".roles"), :class => "col-lg-2 control-label" %></th>
        	<td>
        	<% for role in User::ROLES %>
  <%= check_box_tag "user[roles][#{role}]", role, @user.roles.include?(role), {:name => "user[roles][]"}%>
  <%= label_tag "user_roles_#{role}", role.humanize %>&nbsp;&nbsp;&nbsp;
<% end %>
<%= hidden_field_tag "user[roles][]", "" %>
        	</td>
        </tr>
        <tr>
          <td colspan="2">
          <%= f.submit t(".save"), :class => "btn btn-success" %>
          <% if params[:action] == "new" %>
          <%= link_to t(".cancel"), events_path, data: { confirm: t(".alerts.cancel_new") }, :class => "btn btn-danger" %>
          <% end %>
          <% if params[:action] == "edit" %>
          <%= link_to t(".cancel"), user_path, data: { confirm: t(".alerts.cancel_edit") }, :class => "btn btn-danger" %>
          <%= link_to t(".destroy"), @user, method: :delete, data: { confirm: t(".alerts.destroy") }, :class => "btn btn-danger" %>
          <% end %>
          </td>
        </tr>
      </table>
      
    </div>

  </div>

  <div class="col-md-1">
    <div class="btn-group-vertical">
    </div>
  </div>

</div>

<% end %>