<% if @user.errors.any? %>
	<div class="alert alert-danger">
		<strong><%= t('activerecord.errors.template.header', :count => @user.errors.size, :model => t(".user")) %></strong>
		<ul>
			<% @user.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<%= form_for @user do |f| %>
	<div class="row">
		<div class="col-md-9">
			<div class="table-responsive">
				<table class="table table-bordered table-hover table-condensed">
					<tr>
						<th><%= f.label :email, t(".email"), :class => "col-lg-2 control-label" %></th>
						<td>
							<div class="input-group">
								<span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
								<%= f.email_field :email, :class => "form-control" %>
							</div>
						</td>
					</tr>
					<tr>
						<th> <%= f.label :firstname, t(".firstname"), :class => "col-lg-2 control-label" %></th>
						<td><%= f.text_field :firstname, :class => "form-control" %></td>
					</tr>
					<tr>
						<th> <%= f.label :lastname, t(".lastname"), :class => "col-lg-2 control-label" %></th>
						<td> <%= f.text_field :lastname, :class => "form-control" %></td>
					</tr>
					<tr>
						<th> <%= f.label :dob, t(".dob"), :class => "col-lg-2 control-label" %></th>
						<td> <%= f.text_field :dob, :class => "form-control" %></td>
					</tr>
					<tr>
						<th> <%= f.label :phone_number, t(".phone_number"), :class => "col-lg-2 control-label" %></th>
						<td> <%= f.text_field :phone_number, :class => "form-control" %></td>
					</tr>
					<tr>
						<th> <%= f.label :mobile, t(".mobile"), :class => "col-lg-2 control-label" %></th>
						<td> <%= f.text_field :mobile, :class => "form-control" %></td>
					</tr>
					<tr>
						<th> <%= f.label :street, t(".street"), :class => "col-lg-2 control-label" %></th>
						<td> <%= f.text_field :street, :class => "form-control" %></td>
					</tr>
					<tr>
						<th> <%= f.label :street_number, t(".street_number"), :class => "col-lg-2 control-label" %></th>
						<td> <%= f.text_field :street_number, :class => "form-control" %></td>
					</tr>
					<tr>
						<th> <%= f.label :zipcode, t(".zipcode"), :class => "col-lg-2 control-label" %></th>
						<td> <%= f.text_field :zipcode, :class => "form-control" %></td>
					</tr>
					<tr>
						<th> <%= f.label :city, t(".city"), :class => "col-lg-2 control-label" %></th>
						<td> <%= f.text_field :city, :class => "form-control" %></td>
					</tr>
					<tr>
						<th> <%= f.label :country, t(".country"), :class => "col-lg-2 control-label" %></th>
						<td> <%= f.text_field :country, :class => "form-control" %></td>
					</tr>
					<tr>
						<th> <%= f.label :password, t(".password"), :class => "col-lg-2 control-label" %></th>
						<td><%= f.password_field :password, :class => "form-control" %><%= f.password_field :password_confirmation, :class => "form-control" %></td>
					</tr>
					<tr>
						<td colspan="2">
						<div class="btn-group">
           
         
							<%= f.submit t(".save"), :class => "btn btn-success" %>
							<% if params[:action] == "new" %>
								<%= link_to t(".cancel"), users_path, data: { confirm: t(".alerts.cancel_new") }, :class => "btn btn-danger" %>
								</div>
							<% end %>
							<% if params[:action] == "edit" %>
								<%= link_to t(".cancel"), user_path, data: { confirm: t(".alerts.cancel_edit") }, :class => "btn btn-danger" %>
								</div>
								<%= link_to t(".destroy"), @user, method: :delete, data: { confirm: t(".alerts.destroy") }, :class => "btn btn-danger right" %>
							<% end %>
							 
						</td>
					</tr>
				</table>
			</div>
		</div>

		<div class="col-md-1">
			<div class="btn-group-vertical"></div>
		</div>

	</div>
<% end %>