# encoding: UTF-8

<div class="page-header">
  <h1><%= t("gen.users")%></h1>
</div>


<div class="row">
  <div class="col-md-1 col-md-offset-8" align="right">
          	<% if can? :create, User %>
		  			<p><%= link_to(new_user_path) do %>
            		<button type="button" class="btn btn-success btn-sm">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
				<% end %></p>
				<% end %>
			
          
  </div>
</div>

<div class="row">
  <div class="col-md-9">

    <div class="table-responsive">
      <table class="table table-bordered table-hover table-condensed">
        <tr>
          <th><%= t("users.email") %></th>
          <th><%= t("users.firstname") %></th>
          <th><%= t("users.lastname") %></th>
          <% if can? :read, User %>
          <th></th>
          <% end %>
          <% if can? :update, User %>
          <th></th>
          <% end %>
        </tr>

        <% @users.each do |user| %>
          <tr>
            <td><%= user.email %></td>
            <td><%= user.firstname %></td>
            <td><%= user.lastname %></td>
            <% if can? :read, User %>
            	<td class="button">
            	<%= link_to(user) do %>
            		<button type="button" class="btn btn-info btn-sm">
						<span class="glyphicon glyphicon-info-sign"></span>
					</button>
				<% end %>
			</td>
            <% end %>
            <% if can? :update, User %>
            	<td class="button">
            	<%= link_to(edit_user_path(user)) do %>
            		<button type="button" class="btn btn-warning btn-sm">
						<span class="glyphicon glyphicon-wrench"></span>
					</button>
				<% end %>
			</td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>

    <div class="col-md-offset-4"><%#= paginate @projects %></div>
  </div>

  <div class="col-md-3">
    <%#= render "search_bar" %>
  </div>

</div>