 <script type="text/javascript">
  tinyMCE.init({
    selector: 'textarea.editable',
    inline: false,
    plugins: ["link"],
    toolbar: "undo redo | bold italic underline | bullist numlist | link",
    menubar: false
  });
  </script>
  <% if @event.errors.any? %>
	<div class="alert alert-danger">
		<strong><%= t('activerecord.errors.template.header', :count => @event.errors.size, :model => t(".event")) %></strong>
		<ul>
			<% @event.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<%= form_for [@customer, @event] do |f| %>


	<div class="row">
		<div class="col-md-9">
			<div class="table-responsive">
				<table class="table table-bordered table-hover table-condensed">
					<tr>
						<th><%= f.label :title, t(".title") + "*", :class => "col-lg-6 control-label" %></th>
						<td><%= f.text_field :title, :class => "form-control" %></td>
					</tr>
					<tr>
						<th> <%= f.label :date, t(".date") + "*", :class => "col-lg-6 control-label" %></th>
						<td><%= f.date_field :date, :class => "form-control" %></td>
					</tr>
					<tr>
						<th> <%= f.label :time, t(".time"), :class => "col-lg-6 control-label" %></th>
						<td> <%= f.time_field :time, :class => "form-control" %></td>
					</tr>
					<tr>
						<th> <%= f.label :location, t(".location"), :class => "col-lg-6 control-label" %></th>
						<td> <%= f.text_field :location, :class => "form-control" %></td>
					</tr>
					<tr>
						<th> <%= f.label :details, t(".details"), :class => "col-lg-6 control-label" %></th>
						<td> <%= f.text_area :details, :class => "form-control editable" %></td>
					</tr>
					<tr>
						<th> <%= f.label :should_respond, t(".should_respond"), :class => "col-lg-6 control-label" %></th>
						<td> <%= f.check_box :should_respond %></td>
					</tr>
					<tr>
						<th> <%= f.label :status, t(".status"), :class => "col-lg-6 control-label" %></th>
						<td> <%= f.select :status, Event::STATUS.collect {|d| [t(".#{d}"), d]} %></td>
					</tr>
					
					
					<tr>
						<td colspan="2">
						<%= f.hidden_field :customer_id, :class => "form-control" %>
						<div class="btn-group">
							
							<%= f.submit t(".save"), :class => "btn btn-success" %>
							<% if params[:action] == "new" %>
								<%= link_to t(".cancel"), customer_events_path(@customer), data: { confirm: t(".alerts.cancel_new") }, :class => "btn btn-danger" %>
								</div>
							<% end %>
							<% if params[:action] == "edit" %>
								<%= link_to t(".cancel"), customer_event_path(@customer, @event), data: { confirm: t(".alerts.cancel_edit") }, :class => "btn btn-danger" %>
								</div>
								<%= link_to t(".destroy"), customer_event_path(@customer, @event), method: :delete, data: { confirm: t(".alerts.destroy") }, :class => "btn btn-danger right" %>
								
							<% end %>
						</td>
					</tr>
				</table>
			</div>
		</div>
		
		<div class="col-md-1">
			<div class="btn-group-vertical"></div>
		</div>
		
	</div>
<% end %>