<div class="page-header">
	<h1><%= t(".events")%></h1>
</div>

<div class="row">
	<div class="col-md-1 col-md-offset-8" align="right">
		<% if can? :create, Event %>
			<p><%= link_to(new_customer_event_path) do %>
				<button type="button" class="btn btn-success btn-sm">
						<span class="glyphicon glyphicon-plus"></span>
				</button>
			<% end %></p>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="col-md-9">
		<div class="table-responsive">
			<table class="table table-bordered table-hover table-condensed">
				<tr>
					<th><%= t(".date") %></th>
					<th><%= t(".title") %></th>
					<th><%= t(".location") %></th>
					<% if can? :update, EventsUser %>
						<th></th>
					<% end %>
					<th></th>
					<% if can? :manage, Event %>
						<th></th>
					<% end %>
				</tr>
				<% @events.each do |event| %>
					<tr>
						<td>
							<%= l event.date, format: :long %>
							<% unless event.time.nil? %>
								<%= l event.time, format: :time %>
							<% end %>
						</td>
						<td><%= event.title %></td>
						<td><%= event.location %></td>
						<% if can? :update, EventsUser %>
							<td class="twobuttons">
								<% if event.should_respond == true %>
									<% if get_event_user_status(event.id) == 1 %>
										<%= link_to(get_event_user_status_deny_link(event.id), :method => :put, data: {confirm: t(".alerts.dont_you_want_to_attend")}) do %>
											<button type="button" class="btn btn-success btn-sm left">
												<span class="glyphicon glyphicon-ok-sign"></span>
											</button>
										<% end %>
										<% if can? :manage, :all %>
											<%= link_to(get_event_user_status_reset_link(event.id), :method => :put, data: {confirm: t(".alerts.do_you_want_to_remove")}) do %>
												<button type="button" class="btn btn-warning btn-sm right">
													<span class="glyphicon glyphicon-remove-circle"></span>
												</button>
											<% end %>
										<% end %>
									<% elsif get_event_user_status(event.id) == 0 %>
										<% if can? :manage, :all %>
											<%= link_to(get_event_user_status_reset_link(event.id), :method => :put, data: {confirm: t(".alerts.do_you_want_to_remove")}) do %>
												<button type="button" class="btn btn-warning btn-sm left">
													<span class="glyphicon glyphicon-remove-circle"></span>
												</button>
											<% end %>
										<% end %>
										<%= link_to(get_event_user_status_accept_link(event.id), :method => :put, data: {confirm: t(".alerts.do_you_want_to_attend")}) do %>
											<button type="button" class="btn btn-danger btn-sm right">
												<span class="glyphicon glyphicon-remove-sign"></span>
											</button>
										<% end %>
									<% else %>
										<%= link_to(get_event_user_status_accept_link(event.id), :method => :put, data: {confirm: t(".alerts.do_you_want_to_attend")}) do %>
											<button type="button" class="btn btn-success btn-sm left">
												<span class="glyphicon glyphicon-ok-sign"></span>
											</button>
										<% end %>
										<%= link_to(get_event_user_status_deny_link(event.id), :method => :put, data: {confirm: t(".alerts.dont_you_want_to_attend")}) do %>
											<button type="button" class="btn btn-danger btn-sm right">
												<span class="glyphicon glyphicon-remove-circle"></span>
											</button>
										<% end %>
									<% end %>
								<% end %>						
							</td>
						<% end %>
						<td class="button">
							<%= link_to customer_event_path(:id => event.id) do %>
								<button type="button" class="btn btn-info btn-sm">
									<span class="glyphicon glyphicon-info-sign"></span>
								</button>
							<% end %>
						</td>
						<% if can? :update, Event %>
							<td class="button">
								<%= link_to(edit_customer_event_path(:id => event.id)) do %>
									<button type="button" class="btn btn-warning btn-sm">
										<span class="glyphicon glyphicon-wrench"></span>
									</button>
								<% end %>
							</td>
						<% end %>
					</tr>
				<% end %>
			</table>
		</div>
		
		<div class="col-md-offset-4"></div>

	</div>

	<div class="col-md-3"></div>

</div>