<div class="page-header">
	<% if can? :update, Event %>
		<%= link_to(edit_customer_event_path(@customer, @event), :class => "btn btn-warning right") do %>
			<span class="glyphicon glyphicon-wrench"></span>
		<% end %>
	<% end %>
	<h1><%= @event.title %></h1>
	<div class="visible-xs"><p><%= l @event.from, format: :short %> - <%= l @event.to, format: :short %></p></div>
	<div class="hidden-xs"><p><%= l @event.from, format: :long %> - <%= l @event.to, format: :long %></p></div>
	<% unless @event.location.empty? %><p><%= @event.location %></p><% end %>
	<p><small><%= t(".#{@event.status}") %></small></p>
</div>

<div class="row">
	<div class="col-md-12">
	<% unless @event.details.empty? %>
		<%= @event.details.html_safe %>
	<% end %>
	<% if @event.should_respond == true %>
		<div class="table-responsive">
			<table class="table table-bordered table-hover table-condensed">
					<tr>
						<% unless @event_users_accepted.empty? %>
						<th>
							<button type="button" class="btn btn-success btn-sm disabled">
								<span class="glyphicon glyphicon-ok-sign"></span>
							</button>
						</th>
						<% end %>
						<% unless @event_users_denied.empty? %>
						<th>
							<button type="button" class="btn btn-danger btn-sm disabled">
								<span class="glyphicon glyphicon-remove-sign"></span>
							</button>
						</th>
						<% end %>
						<% unless @event_users_noreply.empty? %>
						<th>
							<button type="button" class="btn btn-warning btn-sm disabled">
								<span class="glyphicon glyphicon-question-sign"></span>
							</button>
						</th>
						<% end %>
					</tr>
					<tr>
						<% unless @event_users_accepted.empty? %>
						<td style="vertical-align: top;">
							<% mailto_accepted = Array.new %>
							<% @event_users_accepted.each do |event_user| %>
								<% mailto_accepted << event_user.email %>
								<%= link_to(get_customers_user(event_user.id, params[:customer_id]), :class => "btn btn-info btn-xs") do %>
										<span class="glyphicon glyphicon-user"></span>
								<% end %>
								<%= event_user.firstname %> <%= event_user.lastname %>
								<% if can? :see_date, EventsUser %>
									<small><i>(<%= l get_update_time(@event, event_user.id), format: :long %>)</i></small>
								<% end %><br>
							<% end %>
						</td>
						<% end %>
						<% unless @event_users_denied.empty? %>
						<td style="vertical-align: top;">
							<% mailto_denied = Array.new %>
							<% @event_users_denied.each do |event_user| %>
								<% mailto_denied << event_user.email %>
								<%= link_to(get_customers_user(event_user.id, params[:customer_id]), :class => "btn btn-info btn-xs") do %>
										<span class="glyphicon glyphicon-user"></span>
								<% end %>
								<%= event_user.firstname %> <%= event_user.lastname %>
								<% if can? :see_date, EventsUser %>
									<small><i>(<%= l get_update_time(@event, event_user.id), format: :long %>)</i></small>
								<% end %><br>
							<% end %>
						</td>
						<% end %>
						<% unless @event_users_noreply.empty? %>
						<td style="vertical-align: top;">
							<% mailto_noreply = Array.new %>
							<% @event_users_noreply.each do |event_user| %>
								<% unless get_admin_users.include?(event_user.id) %>
									<% mailto_noreply << event_user.email %>
									<%= link_to(get_customers_user(event_user.id, params[:customer_id]), :class => "btn btn-info btn-xs") do %>
											<span class="glyphicon glyphicon-user"></span>
									<% end %>
									<%= event_user.firstname %> <%= event_user.lastname %><br>
								<% end %>
							<% end %>
						</td>
						<% end %>
						</tr>
						<% if can? :send_message, CustomersUser %>
						<tr>
						<% unless @event_users_accepted.empty? %>
						<td>
								<%= button_to(new_conversation_path, :name => :receipient, :value => mailto_accepted.join(', '), :class => "btn btn-success") do %>
									<span class="glyphicon glyphicon-envelope"></span>
								<% end %>						
						</td>
					<% end %>
						<% unless @event_users_denied.empty? %>
						<td>					
								<%= button_to(new_conversation_path, :name => :receipient, :value => mailto_denied.join(', '), :class => "btn btn-success") do %>
									<span class="glyphicon glyphicon-envelope"></span>
								<% end %>
						</td>
						<% end %>
						<% unless @event_users_noreply.empty? %>
						<td>
								<%= button_to(new_conversation_path, :name => :receipient, :value => mailto_noreply.join(', '), :class => "btn btn-success") do %>
									<span class="glyphicon glyphicon-envelope"></span>
								<% end %>
						</td>
						<% end %>
					</tr>
				<% end %>
			</table>
		</div>
	<% end %>
</div>