<div class="page-header">
	<h1><%= t(".header")%></h1>
</div>

<div class="row">
	<div class="col-md-1 col-md-offset-8" align="right">
		<% if can? :create, Customer %>
			<p><%= link_to(new_customer_path) do %>
				<button type="button" class="btn btn-success btn-sm">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
			<% end %></p>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="col-md-9">
		<div class="table-responsive">
			<table class="table table-bordered table-hover table-condensed">
				<tr>
					<th><%= t(".name") %></th> 
					<th></th>
					<% if can? :show, Customer %>
					<th></th>
					<% end %>
					<% if can? :update, Customer %>
					<th></th>
					<% end %>
				</tr>
				<% @customers.each do |customer| %>		
					<tr>
						<td><%= customer.name %></td>
						<td class="button">
							<%= link_to(customer_events_path(customer)) do %>
								<button type="button" class="btn btn-info btn-sm">
									<span class="glyphicon glyphicon-arrow-right"></span>
								</button>
							<% end %>
						</td>
						<% if can? :show, Customer %>
						<td class="button">
							<%= link_to(customer_path(customer)) do %>
								<button type="button" class="btn btn-info btn-sm">
									<span class="glyphicon glyphicon-info-sign"></span>
								</button>
							<% end %>
						</td>
						<% end %>
						<% if can? :update, Customer %>
						<td class="button">
							<%= link_to(edit_customer_path(customer)) do %>
								<button type="button" class="btn btn-warning btn-sm">
									<span class="glyphicon glyphicon-wrench"></span>
								</button>
							<% end %>
						</td>
						<% end %>
					</tr>
				<% end %>
			</table>
		</div>

		<div class="col-md-offset-4"></div>
		
	</div>
	
	<div class="col-md-3"></div>
</div>