<% if @customer_user.errors.any? %>
	<div class="alert alert-danger">
		<strong><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</strong>
		<ul>
			<% @customer_user.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<%= form_for @customer_user, url: customer_customer_user_path(params[:customer_id], @customer_user) do |f| %>
	<div class="row">
		<div class="col-md-9">
			<div class="table-responsive">
				<table class="table table-bordered table-hover table-condensed">
					<tr>
						<th> <%= f.label :roles, t(".roles"), :class => "col-lg-2 control-label" %></th>
						<td>
							<%= f.collection_select :role, CustomerUser::ROLES, :to_s, :humanize %>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<%= f.submit t(".save"), :class => "btn btn-success" %>
							<% if params[:action] == "new" %>
								<%= link_to t(".cancel"), events_path, data: { confirm: t(".alerts.cancel_new") }, :class => "btn btn-danger" %>
							<% end %>
							<% if params[:action] == "edit" %>
								<%= link_to t(".cancel"), user_path, data: { confirm: t(".alerts.cancel_edit") }, :class => "btn btn-danger" %>
								<%= link_to t(".destroy"), customer_customer_user_path(params[:customer_id], @customer_user), method: :delete, data: { confirm: t(".alerts.destroy") }, :class => "btn btn-danger" %>
							<% end %>
						</td>
					</tr>
				</table>
			</div>
		</div>

		<div class="col-md-1">
			<div class="btn-group-vertical"></div>
		</div>

	</div>
<% end %>