<div class="page-header">
	<h1><%= t(".users")%></h1>
</div>

<div class="row">
	<div align="right">
	<p><% if can? :send_message, CustomersUser %>
	<%= link_to(new_conversation_path(:receipient => all_email_addresses)) do %>
	<button type="button" class="btn btn-success btn-sm">
					<span class="glyphicon glyphicon-envelope"></span> <%= t(".to_all_members") %>
				</button>
			<% end %>
	<% end %>
	<%= link_to(new_conversation_path(:receipient => organizers_email_addresses)) do %>
	<button type="button" class="btn btn-success btn-sm">
					<span class="glyphicon glyphicon-envelope"></span> <%= t(".to_organizers") %>
				</button>
			<% end %>
		<% if can? :create, CustomersUser %>
			<%= link_to(new_customer_customers_user_path(@customer)) do %>
				<button type="button" class="btn btn-success btn-sm">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
			<% end %>
		<% end %></p>
	</div>
</div>

<div class="row">
	<div>
		<div class="table-responsive">
			<table class="table table-bordered table-hover table-condensed">
				<tr>
					<th><%= t(".email") %></th>
					<th><%= t(".firstname") %></th>
					<th><%= t(".lastname") %></th>
					<% if can? :read, CustomersUser %>
						<th></th>
					<% end %>
					<% if can? :update, CustomersUser %>
						<th></th>
					<% end %>
				</tr>
				<% @customers_users.each do |user| %>
					<tr>
						<td><%= user.user.email %></td>
						<td><%= user.user.firstname %></td>
						<td><%= user.user.lastname %></td>
						<% if can? :read, CustomersUser %>
							<td class="button">
								<%= link_to(customer_customers_user_path(@customer, user)) do %>
									<button type="button" class="btn btn-info btn-sm">
										<span class="glyphicon glyphicon-info-sign"></span>
									</button>
								<% end %>
							</td>
						<% end %>
						<% if can? :update, CustomersUser %>
							<td class="button">
								<%= link_to(edit_customer_customers_user_path(@customer, user)) do %>
									<button type="button" class="btn btn-warning btn-sm">
										<span class="glyphicon glyphicon-wrench"></span>
									</button>
								<% end %>
							</td>
						<% end %>
					</tr>
				<% end %>
			</table>
		</div>

		<div class="col-md-offset-4"></div>

	</div>

	<div class="col-md-3"></div>

</div>