<div class="page-header">
	<h1><%= t(".user") %> "<%= @customers_user.user.firstname %> <%= @customers_user.user.lastname %>"</h1>
</div>

<div class="row">
	<div class="col-md-9">
		<div class="table-responsive">
			<table class="table table-bordered table-hover table-condensed">
				<tr>
					<th><%= t(".firstname") %></th>
					<td><%= @customers_user.user.firstname %></td>
				</tr>
				<tr>
					<th><%= t(".lastname") %></th>
					<td><%= @customers_user.user.lastname %></td>
				</tr>
				<tr>
					<th><%= t(".email") %></th>
					<td><%= @customers_user.user.email %></td>
				</tr>
				<tr>
					<th><%= t(".phone_number") %></th>
					<td><%= @customers_user.user.phone_number %></td>
				</tr>
				<tr>
					<th><%= t(".address") %></th>
					<td><%= @customers_user.user.street %> <%= @customers_user.user.street_number %><br>
					<%= @customers_user.user.zipcode %> <%= @customers_user.user.city %><br>
					<%= @customers_user.user.country %></td>
				</tr>
			</table>
		</div>
	</div>

	<div class="col-md-1">
		<div class="btn-group-vertical">
			<% if can? :update, CustomersUser %>
								<%= link_to(edit_customer_customers_user_path(@customer, @customers_user), :class => "btn btn-warning") do %>
										<span class="glyphicon glyphicon-wrench"></span> <%= t(".edit") %>
								<% end %>
						<% end %>
						<% if can? :send_message, CustomersUser %>
				<%= button_to(new_conversation_path, :name => :receipient, :value => @customers_user.user.email, :class => "btn btn-success", :form_style => "inline") do %>
					<span class="glyphicon glyphicon-envelope"></span> <%= t(".to_this_member") %>
				<% end %>
			<% end %>				
						
		</div>
		
		
	</div>

</div>