<ul class="nav navbar-nav">
	<% if user_signed_in? %>
			
			<% if params[:customer_id].nil? %>
			<li <% if params[:controller] == "customers" %>class="active"<% end %>><%= link_to(t('.customers'), customers_path()) %></li>
			<% else %>
				<li <% if params[:controller] == "customers" %>class="active"<% end %>><%= link_to(get_customer(params[:customer_id]).name, customers_path()) %></li>
				<li <% if params[:controller] == "events" %>class="active"<% end %>><%= link_to(t('.events'), customer_events_path(params[:customer_id])) %></li>
				<li <% if params[:controller] == "customers_users" %>class="active"<% end %>><%= link_to(t('.members'), customer_customers_users_path(params[:customer_id])) %></li>
			<% end %>
			<li <% if params[:controller] == "conversations" %>class="active"<% end %>><%= link_to(t('.conversations'), conversations_path()) %></li>
			<% if can? :manage, User %>
			<li <% if params[:controller] == "users" %>class="active"<% end %>><%= link_to(t('.users'), users_path) %></li>
			<% end %>
			
	<% end %>
</ul>