<ul class="nav navbar-nav">
	<% if user_signed_in? %>
			<li <% if params[:controller] == "customers" %>class="active"<% end %>><%= link_to(t('.customers'), customers_path()) %></li>
			<li <% if params[:controller] == "conversations" %>class="active"<% end %>><%= link_to(t('.conversations'), conversations_path()) %></li>
			<% if can? :manage, User %>
			<li <% if params[:controller] == "users" %>class="active"<% end %>><%= link_to(t('.users'), users_path) %></li>
			<% end %>
			<% unless params[:customer_id].nil? %>
				<li class="hidden-xs"><%= link_to(">>", "#") %></li>
				<li <% if params[:controller] == "events" %>class="active"<% end %>><%= link_to(t('.events'), customer_events_path(params[:customer_id])) %></li>
				<li <% if params[:controller] == "customers_users" %>class="active"<% end %>><%= link_to(t('.members'), customer_customers_users_path(params[:customer_id])) %></li>
			<% end %>
	<% end %>
</ul>